@model MediaService.Models.Game

    <main class="book-details-container">
        <div class="book-info">
            <h1>@Model.Title</h1>
            <p><strong>Platform:</strong> @Model.Platform</p>
            <p><strong>Genre:</strong> @Model.Genre</p>

<<<<<<< HEAD
            <div class="availability">
                <p><strong>Status:</strong> Available</p>
            </div>

            <div class="book-description">
                <h3><strong>Description:</strong></h3>
                 <p>@Model.Description</p>
            </div>
=======
<div>
    <strong>Platform:</strong> @Model.Platform
</div>
<div>
    <strong>Genre:</strong> @Model.Genre
</div>
<div>
    <strong>Description:</strong>
    <p>@Model.Description</p>
</div>
>>>>>>> 0865a8ca88ca33d6a8a33216b9b76d2d72623053

<div class="mt-3">
    <a href="@Url.Action("EditGame", "Games", new { id = Model.Id })" class="btn btn-outline-success">Add to WishList</a>
    <a href="@Url.Action("EditGame", "Games", new { id = Model.Id })" class="btn btn-outline-success">Borrow</a>
    <a href="@Url.Action("EditGame", "Games", new { id = Model.Id })" class="btn btn-outline-success">Play</a>

    </main>

<a href="@Url.Action("GetAllGames", "Games")" class="btn btn-success btn-lg">Back to List</a>


