@model MediaService.Models.Book

    <main class="book-details-container">
        <div class="book-info">
            <h1>@Model.Title</h1>
            <p><strong>Author:</strong> @Model.Author</p>
            <p><strong>ISBN:</strong> @Model.ISBN</p>
            <p><strong>Page Count:</strong> @Model.PageCount</p>

            <div class="availability">
                <p><strong>Status:</strong> Available</p>
            </div>

            <div class="book-description">
                <h3><strong>Description:</strong></h3>
                 <p>@Model.Description</p>
            </div>

<div class="mt-3">
    <a href="@Url.Action("EditBook", "Books", new { id = Model.Id })" class="btn btn-outline-success">Add to WishList</a>
           
           <form asp-action="BorrowMedia" asp-controller="Transactions" method="post">
                <input type="hidden" name="mediaItemId" value="@Model.Id" />
                <button type="submit" class="btn btn-outline-success">Borrow</button>
            </form>


    <a href="@Url.Action("EditBook", "Books", new { id = Model.Id })" class="btn btn-outline-success">Read</a>
   
</main>

 <a href="@Url.Action("GetAllBooks", "Books")" class="btn btn-success btn-lg">Back to List</a>

                  