@model MediaService.Models.DVD

<!-- Main DVD Details Section -->
    <main class="book-details-container">
        <div class="book-info">
            <h1>@Model.Title</h1>
            <p><strong>Director:</strong> @Model.Director</p>
            <p><strong>Release Year:</strong> @Model.ReleaseYear</p>
            <p><strong>Duration:</strong> @Model.DurationMinutes</p>

            <div class="availability">
                <p><strong>Status:</strong> Available</p>
                <!-- Change text based on availability -->
            </div>

            <div class="book-description">
                <h3><strong>Description:</strong></h3>
                 <p>@Model.Description</p>
            </div>

<div class="mt-3">
    <a href="@Url.Action("EditDvd", "Dvds", new { id = Model.Id })" class="btn btn-outline-success">Add to WishList</a>
    <a href="@Url.Action("EditDvd", "Dvds", new { id = Model.Id })" class="btn btn-outline-success">Borrow</a>
    <a href="@Url.Action("EditDvd", "Dvds", new { id = Model.Id })" class="btn btn-outline-success">Play</a>

    </main>

 <a href="@Url.Action("GetAllDvds", "Dvds")" class="btn btn-success btn-lg">Back to List</a>

