@model List<MediaService.Models.MediaItem>

@{
    ViewData["Title"] = "Media List";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<div class="container">
    <!-- Book Carousel -->
    <h2 class="my-4 text-center">Books</h2>
    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var mediaItem in Model.Where(m => m.MediaType.Name == "Book"))
            {
                <div class="carousel-item @(mediaItem == Model.FirstOrDefault(m => m.MediaType.Name == "Book") ? "active" : "")">
                    <div class="card shadow-sm border-light rounded">
                            <img src="@mediaItem.ImageUrl" class="card-img-top" alt="Book Image" style="width=300px height=150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="font-size: 1.25rem;">@mediaItem.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ID: @mediaItem.Id</h6>
                            <p class="card-text text-truncate" style="font-size: 1rem; color: #555;">@mediaItem.Description</p>
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("GetBook", "Books", new { id = mediaItem.Id })" class="btn btn-outline-primary btn-sm">View Details</a>
                                <a href="@Url.Action("EditBook", "Books", new { id = mediaItem.Id })" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a href="@Url.Action("DeleteBook", "Books", new { id = mediaItem.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- DVD Carousel -->
    <h2 class="my-4 text-center">DVDs</h2>
    <div id="dvdCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var mediaItem in Model.Where(m => m.MediaType.Name == "DVD"))
            {
                <div class="carousel-item @(mediaItem == Model.FirstOrDefault(m => m.MediaType.Name == "DVD") ? "active" : "")">
                    <div class="card shadow-sm border-light rounded">
                            <img src="@mediaItem.ImageUrl" class="card-img-top" alt="DVD Image" style="width=300px height=150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="font-size: 1.25rem;">@mediaItem.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ID: @mediaItem.Id</h6>
                            <p class="card-text text-truncate" style="font-size: 1rem; color: #555;">@mediaItem.Description</p>
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("GetDvd", "Dvds", new { id = mediaItem.Id })" class="btn btn-outline-primary btn-sm">View Details</a>
                                <a href="@Url.Action("EditDvd", "Dvds", new { id = mediaItem.Id })" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a href="@Url.Action("DeleteDvd", "Dvds", new { id = mediaItem.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Game Carousel -->
    <h2 class="my-4 text-center">Games</h2>
    <div id="gameCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var mediaItem in Model.Where(m => m.MediaType.Name == "Game"))
            {
                <div class="carousel-item @(mediaItem == Model.FirstOrDefault(m => m.MediaType.Name == "Game") ? "active" : "")">
                    <div class="card shadow-sm border-light rounded">
                            <img src="@mediaItem.ImageUrl" class="card-img-top" alt="Game Image" style="width=300px height=150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="font-size: 1.25rem;">@mediaItem.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ID: @mediaItem.Id</h6>
                            <p class="card-text text-truncate" style="font-size: 1rem; color: #555;">@mediaItem.Description</p>
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("GetGame", "Games", new { id = mediaItem.Id })" class="btn btn-outline-primary btn-sm">View Details</a>
                                <a href="@Url.Action("EditGame", "Games", new { id = mediaItem.Id })" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a href="@Url.Action("DeleteGame", "Games", new { id = mediaItem.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Journal Carousel -->
    <h2 class="my-4 text-center">Journals</h2>
    <div id="journalCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var mediaItem in Model.Where(m => m.MediaType.Name == "Journal"))
            {
                <div class="carousel-item @(mediaItem == Model.FirstOrDefault(m => m.MediaType.Name == "Journal") ? "active" : "")">
                    <div class="card shadow-sm border-light rounded">
                            <img src="@mediaItem.ImageUrl" class="card-img-top" alt="Journal Image" style="width=300px height=150px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-truncate" style="font-size: 1.25rem;">@mediaItem.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">ID: @mediaItem.Id</h6>
                            <p class="card-text text-truncate" style="font-size: 1rem; color: #555;">@mediaItem.Description</p>
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("GetJournal", "Journals", new { id = mediaItem.Id })" class="btn btn-outline-primary btn-sm">View Details</a>
                                <a href="@Url.Action("EditJournal", "Journals", new { id = mediaItem.Id })" class="btn btn-outline-warning btn-sm">Edit</a>
                                <a href="@Url.Action("DeleteJournal", "Journals", new { id = mediaItem.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


       <!-- Create New Media Button -->
        <div class="text-center mt-4">
            <a href="@Url.Action("Create", "Media")" class="btn btn-success btn-lg">Create New Media</a>
            <a href="@Url.Action("Create", "Media")" class="btn btn-success btn-lg">Generate Report</a>
        </div>
    </div>      
     